$themes: (
  light: (

    moobox: #F0AE2E;
    moobox-hover: #BF840D;
    raisin: #221D23;
    raisin-hover #0B090B;
    grass: #65A477;
    grass-hover: #447451;
    box-shadow: 0px 0px 10px rgba(100, 100, 100, 0.3),
  ),
  dark: (

    logo: url(image-path('LOGO-DARK.png')),
    color-1: hsla(0, 0%, 80%, 1),
    color-1-hover: hsla(0, 0%, 65%, 1),
    color-2: hsla(0, 0%, 75%, 1),
    color-2-hover: hsla(0, 0%, 60%, 1),
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3),
    background-color-main: hsla(0, 0%, 15%, 1),
    background-color-elements: hsla(0, 0%, 12%, 1),
    background-color-elements-hover: hsla(0, 0%, 22%, 1),
    elements-color: hsla(0, 0%, 40%, 1),
    carousel-background: rgba(100, 100, 100, 0.95),
    carousel-background-2: rgba(100, 100, 100, 0.6)

  ),
);

$theme-map: null;
@mixin themed() {
  @each $theme, $map in $themes {
    .sass-theme-#{$theme} & {
      $theme-map: () !global;
      @each $key, $submap in $map {
        $value: map-get(map-get($themes, $theme), '#{$key}');
        $theme-map: map-merge($theme-map, ($key: $value)) !global;
      }
      @content;
    }
  }
}

@function t($key) {
  @return map-get($theme-map, $key);
}



$themes: (

  light: (

    $moobox: #F0AE2E;
    $moobox-hover: #BF840D;

    $raisin: #221D23;
    $raisin-hover #0B090B;
    $cloud: #F7F7F7;
    $grass: #65A477;

    $box-shadow: 0px 0px 10px rgba(100, 100, 100, 0.3);

  )
)


