<h1>Styles#edit</h1>
<p>Find me in app/views/styles/edit.html.erb</p>

<%= simple_form_for @style do |f| -%>
  <%= f.input :name, label: false, placeholder: "Name" %>
  <%= f.input :pattern, as: :file %>
  <%= f.submit "Submit modifications" %>
<% end -%>
