.navbar-top {
  padding: 10px;
  display: flex;
  justify-content: center;
  height: 16vh;
  border-bottom: solid 1px lightgrey;
  .navbar-logo img {
    height: 15vh;
  }
}

.theme-items {
  position: absolute;
  top: 6vh;
  right: 7vw;
}

.navbar-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 10vh;
  padding: 0px 100px;
  box-shadow: 0px 5px 10px 1px #dee2e64d;
  ul {
    list-style: none;
    display: contents;
  }
  li {
    display: inline-block;
  }
  a {
      color: #221D23;
      text-decoration: none;
      position:relative;
      padding: 0 5px;

      &:after {
        content: "";
        position: absolute;
        left: 0px;
        bottom: -4px;
        width: 100%;
        height: 1px;
        background: #F0AE2E;
        z-index: -1;
        transition: all 0.3s ease;
      }

      &:hover {
        text-decoration: none;

        &:after {
          height: 140%;
        }
      }
    }
}


// RESPONSIVE RULES

  // @media screen and (max-width: 550px) {

  // }

