@import "bootstrap";

@import "config/index";
@import "components/index";


// Temporary styles for testing
.temp-navbar {
  display: flex;
  justify-content: space-around;
}

.sound-bars {
  display: none;
}
