// external libraries
@import "bootstrap";

// graphical variables
@import "config/index";

// internal style
@import "components/index";


// Temporary styles for testing
.temp-navbar {
  display: flex;
  justify-content: space-around;
}

.sound-bars {
  display: none;
}

.rails-flashes {
  position: fixed;
  top: 0;
  margin: 20px;
}
